.editor-container div[role='textbox'] {
	transition: all 0.2s ease-in-out;
}

.editor-container div[role='textbox'] {
	padding: 20px;
}

.editor-container div[contenteditable='true']:focus {
	outline: none;
	border: none;
}

.editor-container div[role='textbox'] h1 {
	font-size: 24px;
	line-height: 1.8rem;
	font-weight: 600;
	margin-bottom: 20px;
}

.editor-container div[role='textbox'] h2 {
	font-size: 18px;
	line-height: 1.5rem;
	font-weight: 600;
	margin-bottom: 20px;
}

.editor-container div[role='textbox'] p {
	margin-bottom: 20px;
}

.editor-container div[role='textbox'] ul {
	list-style-type: initial;
	padding-left: 20px;
	margin-bottom: 20px;
}

.editor-container div[role='textbox'] ul li {
	margin-bottom: 10px;
	padding-left: 5px;
}

.editor-container div[role='textbox'] ol {
	list-style-type: decimal;
	padding-left: 20px;
	margin-bottom: 20px;
}

.editor-container div[role='textbox'] ol li {
	margin-bottom: 10px;
	padding-left: 5px;
}

.editor-container div[role='textbox'] blockquote {
	margin-bottom: 20px;
	padding-left: 20px;
	border-left: 2px solid #ccc;
}

/* media query for dark mode */
@media (prefers-color-scheme: dark) {
	.editor-container div[role='textbox'] blockquote {
		border-left: 2px solid #444;
	}
}
